/* ----Font Import and Global Styling---- */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,700i');

body {
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-top: 0;
  margin-bottom: -10px;
}

li {
  list-style: none;
  list-style-position: inside;
}

button {

}

/* ----Colors---- */

.red {
  color: ;
}

.red-bg {
  background-color:red;
}

.blue {
  color:
}

.blue-bg {
  background-color:
}

.yellow {
  color:
}

.yellow-bg {
  background-color:
}

.green {
  color:
}

.green-bg {
  background-color:
}

.purple {
  color:
}

.purple-bg {
  background-color:
}

.white {
  color: white;
}

.grey-bg {
  background-color:
}

/* ----Layout and Clearfix---- */
.container {
  padding-left: 1em;
  padding-right: 1em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ----Navbar---- */

.nav-wrapper {
  width: 100%;
  height: 60px;
}

.menu {
  display: inline-block;
  float: right;
  margin-right: 30px;
}

.menu li {
  float: left;
  margin-left: 12px;
}

.menu a {
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #171717;
  text-decoration: none;
}

.logo {
  float: left;
  height: 100%;
}

/* ----Body Styles---- */

.full-width-banner {
  width: 100%;
  background-image: url(images/gyst-logo.png);
  background-size: cover;
  padding: 3rem 0;
}

.text-on-bg {
  background-color: white;
  padding: 2rem;
  max-width: 400px;
}

.quote {

}

/* ----Footer---- */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 60px;
}

.copyright {
  text-align: left;
}

.newsletter {

}

/* =================================
  Media Queries
==================================== */
@media (min-width: 789px) {
  .container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* =================================
  CSS Attribute Selector Styles
==================================== */
